@import "Assets/styles/_variables.scss";

.file-drag-drop {
  @include flex;
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  color: $f-gray-1;
  border: 2px dashed white;
  border-radius: 10px;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
    border-color: $f-gray-1;
    color: $f-gray-1;
  }

  &.file-dragged {
    border-color: $color-main;
  }
}

.concept-container {
  @include flex;

  h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  h2 {
    font-size: 1.3rem;
  }

  .pre-selected-images {
    img {
      width: 10rem;
      height: auto;
    }
  }

  .f-text-button {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
}

.file-input-wrapper {
  max-width: 30rem;
  width: 100%;
  min-width: 300px;

  .file-input {
    height: 0;
  }
}
